<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="TimeTrackerAppender" />
    </root>
    <appender name="TimeTrackerAppender" type="log4net.Appender.RollingFileAppender">
      <file value="rolling.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>    
    <!--<add name="TicketTrackerEntities" connectionString="metadata=res://*/TicketTrackerEntities.csdl|res://*/TicketTrackerEntities.ssdl|res://*/TicketTrackerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TicketTracker;persist security info=True;user id=tickettracker;password=tickettracker;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TicketTrackerEntities" connectionString="metadata=res://*/TicketTrackerEntities.csdl|res://*/TicketTrackerEntities.ssdl|res://*/TicketTrackerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Data\TicketTracker.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TicketTrackerEntities" connectionString="metadata=res://*/TicketTrackerEntities.csdl|res://*/TicketTrackerEntities.ssdl|res://*/TicketTrackerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Program Files\TicketTracker\Data\TicketTracker.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TicketTrackerEntities" connectionString="metadata=res://*/TicketTrackerEntities.csdl|res://*/TicketTrackerEntities.ssdl|res://*/TicketTrackerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LT8F97ZF2-W7\SQL2012EXP;initial catalog=TicketTracker;persist security info=True;user id=tickettracker;password=tickettracker;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>